 /* These are some details about the body of my web page  */
 body {
    padding:10;
    margin:8;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f19797;
    font-family: Arial, sans-serif;
}


/* Details for my heading  */
h1 {
    color: #030f34;
    margin-bottom: 20px;
}


.video-container {
    text-align: center;
}


/* These are the details of my video */
video {
    max-width: 100%;
    box-shadow: 0 8px 8px rgba(17, 8, 37, 0.2);
    border-radius: 10px;
    width:400;
    height: 300px;
    object-fit:contain;
}